body {
    width: 70%;
    margin: auto;
    text-align: left;
}

h1, h2, h3 {
    font-family: "Courier New";
    margin-top: 1.5em;
    margin-bottom: 1em;
    clear: both;
}

h1 {
    font-size: 32px;
}

figure {
    margin-top: 0px;
    clear: right;
    float: right;
    font-style: italic;
}

table {
    border-collapse: collapse;
    background: azure;
    margin: auto;
}

TD, TH {
    padding: 5px;
    border: 1px solid black;
}