body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

h1 {
    color: #007765;
    font-weight: 500;
    text-align: center;
}

.blocks {
    position: fixed;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;
    background-color: #007765;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
}

.block {
    color: white;
    padding-top: 20px;
    padding-left: 8px;
}

.second {
    width: auto;
    height: 403px;
    background-image: url('images/image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 320px;
    text-align: center;
    color: white;
    margin: 84px 0px 0px 0px;
}

.Text1 {
    height: 619px;
    padding: 0px 0px 0px 0px;
}
.Text1 article p {
    margin: auto;
    font-size: 30px;
    text-align: left;
    vertical-align: middle;
    width: 1110px;
}
.thi {
    box-sizing: border-box;
    /*max-width: 1219px;*/
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 55px;*/
    /*padding-right: 55px;*/
}

.third {
    background-image: url('images/image-1.png');
    padding-top: 128px;
    padding-bottom: 128px;
    background-size: cover;
    background-position: center center;
}
.third p {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
 }
.igure {
    margin-top: 0px;
    clear: right;
    float: left;
    font-style: italic;
    width: 140px;
    height: 140px;
}
.container {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background: #EEEEEE;
}

.members {
    display: flex;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #007765;
}

.member-role {
    font-style: italic;
    font-size: 18px;
}